<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fme.alerts"
    android:versionCode="0013"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <permission
        android:name="fme.alerts.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="fme.alerts.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Following permissions needed for Google maps -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="fme.alerts.FMEAlertsApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAUQ1OJEylmgslO6dp7irMwM-eUgu4lrBI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="fme.alerts.Alerts"
            android:label="@string/title_activity_notifications" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity android:name="fme.common.FMETopics" >
        </activity>
        <activity android:name="fme.common.TopicDetails" >
        </activity>
        <activity android:name="fme.common.About" >
        </activity>
        <activity android:name="fme.common.MessageDetails" >
        </activity>
        <activity
            android:name="fme.common.SettingsMenu"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity android:name="fme.alerts.AlertDetails" >
        </activity>

        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />     

                <category android:name="fme.alerts" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

        <activity android:name="MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="AlertsContentProvider"
            android:authorities="@string/content_provider_authority"
            android:exported="false" >
        </provider>
    </application>

</manifest>